<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <nav class="row main-header navbar navbar-expand navbar-white navbar-light" style="margin-left:-15px;padding: 0px 0px 0px 18px;">
            <div class="col-md-10 col-xs-12"><a [routerLink]="['/']"><img src="assets/dist/img/logo-header.png" height="50px"></a></div>
            <div class="col-md-2 col-xs-12">
              <div class="ml-auto color-white pull-right">
                <a [routerLink]="['/login']" >
                  <i class="fas fa-sign-in-alt"></i> Sign In
                </a>
                <a [routerLink]="['/faq']">
                  <i class="far fa-comments"></i> FAQ's
                </a>
              </div>
            </div>
        </nav>
      </div>
  </div>
</div>


<div class="row m-0" style="min-height: calc(100vh - 51px);">


  <div class="col-sm-4 left-side p-0 side-center hide-login-img">

    <div class="mx-auto">
      <img src="assets/dist/img/login-logo.png" class="mx-auto img-fluid" alt="" >
    </div>

  </div>


  <div class="col-xs-12 col-sm-8 p-0 mt-5">




<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
          <!--<img src="assets/dist/img/login-logo.png" alt="myimage"> -->
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <div style="margin-top: 0px; text-align: center;">
              <img src="assets/dist/img/login-user-img.png" alt="myimage">
            </div>

            <!--<div class="alert alert-danger" role="alert" *ngIf="iserror==1" >
                {{errormsg}}

            </div> -->
            <flash-messages></flash-messages>

            <div class="validate-form">
              <p class="login-box-msg bold-black">Forgot Password</p>

              <form *ngIf="showRequestOtpForm" [formGroup]="requestOtpForm" (ngSubmit)="onSubmit(requestOtpForm.value)">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Please Enter Email" formControlName="emailAddress"
                    maxlength="45" [ngClass]="{ 'is-invalid': submitted &amp;&amp; requestOtpForm.controls.emailAddress.errors }">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted &amp;&amp; requestOtpForm.controls.emailAddress.errors" class="text-danger validation-error">
                  <div *ngIf="requestOtpForm.controls.emailAddress.errors.required">Email Address is required</div>
                  <div *ngIf="requestOtpForm.controls.emailAddress.errors.pattern">Email Address must be a valid email</div>
                  <div *ngIf="requestOtpForm.controls.emailAddress.errors.maxlength">Email Address must not exceed 45 charaters</div>
                </div>

                <ng-container *ngIf="googleRecaptch">
                  <div class="input-group mb-3">
                    <re-captcha  (resolved)="resolved($event)" siteKey="6Lfctt0SAAAAAPTLFH7OidYUERHNVhniLohMPL0J"></re-captcha>
                  </div>
                  <div *ngIf="submitted" class="text-danger validation-error" id="captchaError"></div>
                </ng-container>

                
                <div class="social-auth-links text-center mb-3">
                  <button class="btn btn-block btn button-login" id='mycaptcha'>
                    Send OTP
                  </button>
                </div>
              </form>

              <form *ngIf="showForgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword(forgotPasswordForm.value)">
                <div class="input-group mb-3">
                  <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" placeholder="Enter New Password" formControlName="newPassword"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; forgotPasswordForm.controls.newPassword.errors }">
                  <div class="input-group-append">
                    <div class="input-group-text">
                       <span class="fa" [ngClass]="{
                                        'fa-eye-slash': !fieldTextType,
                                        'fa-eye': fieldTextType
                                      }"
                   (click)="toggleFieldTextType()"></span>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted &amp;&amp; forgotPasswordForm.controls.newPassword.errors" class="text-danger validation-error">
                  <div *ngIf="forgotPasswordForm.controls.newPassword.errors.required">New Password is required</div>
                    <div *ngIf="forgotPasswordForm.controls.newPassword.errors.minlength">New Password must be at least 8 characters long</div>
                    <div *ngIf="forgotPasswordForm.controls.newPassword.errors.pattern">Password must be combination of below:<br>1 Upper Case [A-Z] <br> 1 Lower Case [a-z] <br>1 Digit [0-9] <br>1 Special Character ?=.*?[#?!@$%^&*-]</div>

                </div>

                <div class="input-group mb-3">
                  <input [type]="fieldTextType2 ? 'text' : 'password'" class="form-control" placeholder="Enter Confirm Password"
                    formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; forgotPasswordForm.controls.confirmPassword.errors }">
                  <div class="input-group-append">
                    <div class="input-group-text">
                       <span class="fa" [ngClass]="{
                                        'fa-eye-slash': !fieldTextType2,
                                        'fa-eye': fieldTextType2
                                      }"
                   (click)="toggleFieldTextType2()"></span>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted &amp;&amp; forgotPasswordForm.controls.confirmPassword.errors" class="text-danger validation-error">
                  <div *ngIf="forgotPasswordForm.controls.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="forgotPasswordForm.controls.confirmPassword.errors.minlength">Confirm Password must be at least 8 characters long</div>
                  <div *ngIf="forgotPasswordForm.controls.confirmPassword.errors.pattern">Password must be combination of below:<br>1 Upper Case [A-Z] <br> 1 Lower Case [a-z] <br>1 Digit [0-9] <br>1 Special Character ?=.*?[#?!@$%^&*-]</div>

                </div>

                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Enter OTP" formControlName="requestOtp"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; forgotPasswordForm.controls.requestOtp.errors }">
                    <div class="input-group-append">
                      <div class="input-group-text">
                         <span class="fa fa-lock"></span>
                      </div>
                    </div>

                </div>
                <div *ngIf="submitted &amp;&amp; forgotPasswordForm.controls.requestOtp.errors" class="text-danger validation-error">
                  <div *ngIf="forgotPasswordForm.controls.requestOtp.errors.required">OTP is required</div>
                </div>


                <!-- <div class="input-group mb-3">
                  <re-captcha (resolved)="resolved($event)" siteKey="6Lfctt0SAAAAAPTLFH7OidYUERHNVhniLohMPL0J"></re-captcha>
                </div>
                <div *ngIf="submitted" class="text-danger" id="captchaError">

                </div> -->

                <div class="social-auth-links text-center mb-3">
                  <button class="btn btn-block button-login" id='mycaptcha'>
                    Reset Password
                  </button>

                </div>
              </form>
            </div>

            <!-- <div class="validate-form" >
              <p class="login-box-msg bold-black">Reset default password</p>


            </div> -->
            <!-- <p class="login-box-msg">Welcome Administrator</p> -->


            <div class="login-remeber text-center">
                  <a [routerLink]="['/login']" style="margin-left: 5px;color: #0D47A1;">Back To Login</a>
            </div>

          </div>

          <!-- /.login-card-body -->
        </div>
      </div>

      </div>





</div>

