
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="link navbar-nav mob-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>


    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">

        <div class="input-group-append">

        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <!--<li class="nav-item dropdown">
        <a [routerLink]="['/faq']" [routerLinkActive]="['active']" class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-question-circle"> FAQ</i>
          <span class="badge badge-danger navbar-badge"></span>
        </a>

      </li>-->

      <!-- Notifications Dropdown Menu -->

      <div class="navbar-collapse menu-right" id="navbarNavDropdown">
        <ul class="navbar-nav float-right">

          <li class="nav-item">
            <a class="nav-link" >

              <span *ngIf="userProfilePicture; else imageIcon">
                <img class=" img-fluid img-circle link" [src]="userProfilePicture"  alt="profile picture" style="margin: 0px; height: 20px !important; width: 20px !important;">
              </span>

              <ng-template #imageIcon><i class="far fa-user"></i></ng-template>

              &nbsp; Welcome! {{ apidata?.name | titlecase }}</a>
          </li>
          <li class="nav-item ptc-3">
            <a  style="padding: 3px 0px 6px 0px !important; " onclick="myFunction()" class="topbar-dropdown">
              {{ getUserRole(roleID) }} &nbsp;<i class="fas fa-angle-down"></i>
            
            <div  class="myDIV_topbar"  aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/myprofile', userID]" [routerLinkActive]="['active']">Profile</a>
              <a class="dropdown-item" [routerLink]="['/changepassword']">Change Password</a>
              <a class="dropdown-item" [routerLink]="['/logout']">Logout</a>
            </div>
          </a>
          </li>
        </ul>
      </div>




    </ul>
  </nav>
  <!-- /.navbar -->
