<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">

    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" data-select2-id="32">
        <div class="container-fluid" data-select2-id="31">
            <flash-messages></flash-messages>
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-secondary">
                <div class="card-header custome">
                    <h3 class="card-title"> Add Employee Against Business</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="col-auto mbm-30">
                        <div class="row" *ngIf="businessesData">
                            <div class="show-record">
                                Show &nbsp;
                                <select class="custom-select custom-select-sm form-control form-control-sm"
                                    (change)="setItemsPerPage(page.value)" #page>
                                    <option [selected]="currentPageLength==10">10</option>
                                    <option [selected]="currentPageLength==30">30</option>
                                    <option [selected]="currentPageLength==50">50</option>
                                    <option [selected]="currentPageLength==100">100</option>
                                    <option [selected]="currentPageLength==500">500</option>
                                    <option [selected]="currentPageLength==1000">1000</option>
                                </select>
                                &nbsp; entries
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed " *ngIf="businessesData; else content"
                            datatable [dtOptions]="dtOptions" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Business ID</th>
                                    <th>Business Name</th>
                                    <th>Business Address</th>
                                    <th>Corporate ID</th>
                                    <th>Corporate Name</th>
                                    <th>Employee Count</th>
                          
                                    <th>View & Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mydata of businessesData | paginate: config; index as i">
                                    <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                                    <td>{{ mydata.business_id }}</td>
                                    <td>{{ mydata.business_name | titlecase}}</td>
                                    <td>{{ mydata.business_address | titlecase}}</td>
                                    <td>{{ mydata.taxpayer_id }}</td>
                                    <td>{{ mydata.company_name | titlecase }}</td>
                                    <td>{{ mydata.employees_count }}</td>
                                  
                                    <td>
                                        <button class="btn btn-sm btn-outline-primary"
                                            (click)="viewBusiness(mymodal, mydata)"><i class="nav-icon fas fa-cog"></i>
                                            Manage Employee
                                        </button>
                                    </td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="page_info" class="mt-3 record-show-text-bottom" *ngIf="businessesData">
                        Showing {{(config.currentPage-1) * config.itemsPerPage + 1}} - {{config.currentPage *
                        config.itemsPerPage}} &nbsp;
                        of &nbsp;{{ config.totalItems }} &nbsp; entries
                    </div>

                    <div class="pagination paging-pull-right" *ngIf="businessesData">
                        <pagination-controls (pageChange)="pageChange($event)"
                            class="my-pagination mt-2 pagination-server">
                        </pagination-controls>
                    </div>

                    <ng-template #content>
                        <p style="color: red;"> </p>
                    </ng-template>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">

                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">List of Employees for {{ companyName | titlecase }}</h4>

        <div>
            <button type="submit" class="btn btn button-login float-right" style="margin: 10px 10px;"
                (click)="addEmployee(addemployeemodal)">
                <i class="fas fa-plus-square"></i> Add Employee
            </button>

            <button type="submit" class="btn btn button-login float-right" style="margin: 10px 0px;"
                (click)="uploadBulkEmployees(bulkemployeemodal)">
                <i class="fas fa-file-upload"></i> Bulk Upload
            </button>
        </div>
    </div>

    <div class="modal-body">
        <div class="container">

            <div class="form-row">
                <div class="col-md-12">
                    <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                          style="height:90px; width: 130px;"> -->
                </div>
            </div>

            <form [formGroup]="corporateForm">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="businessName" class="input-label pull-left">Business Name
                        </label>
                        <input type="text" formControlName="businessName" class="form-control" id="businessName"
                            placeholder="Business Name" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls.businessName.errors }" />

                        <div *ngIf="submitted &amp;&amp; corporateForm.controls.businessName.errors" class="text-danger">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="businessID" class="input-label pull-left">Business ID
                        </label>
                        <input type="text" formControlName="businessID" class="form-control" id="businessID"
                            [attr.disabled]="true" placeholder="Business ID"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls.businessID.errors }" />
                        <div *ngIf="submitted &amp;&amp; corporateForm.controls.businessID.errors" class="text-danger">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="companyName" class="input-label pull-left">Company Name
                        </label>
                        <input type="text" formControlName="companyName" class="form-control" id="companyName"
                            placeholder="Company Name" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls.companyName.errors }" />

                        <div *ngIf="submitted &amp;&amp; corporateForm.controls.companyName.errors" class="text-danger">
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label for="companyID" class="input-label pull-left">Company ID
                        </label>
                        <input type="text" formControlName="companyID" class="form-control" id="companyID"
                            placeholder="Company ID" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls.companyID.errors }" />
                        <div *ngIf="submitted &amp;&amp; corporateForm.controls.companyID.errors" class="text-danger">
                       
                        </div>
                    </div>
                </div>
            </form>

            <table class="table table-bordered table-condensed" *ngIf="employeesData;" datatable [dtOptions]="dtOptionsPopUp"
                width="100%">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Tax Payer ID</th>
                        <th>Full Name</th>
                        <th>Designation</th>
                        <th>Gross Income</th>
                        <th>Tax Year</th>
                        <th>Pension</th>
                        <th>NHIS</th>
                        <th>NHF</th>
                        <th>Date Created</th>
                        <th *ngIf="showViewEmployee">Details</th>
                        <th *ngIf="showEditEmployee">Edit</th>
                        <th *ngIf="showDeleteEmployee">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mydata of employeesData; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ mydata.taxpayer_id}}</td>
                        <td>{{ mydata.first_name | titlecase}} {{ mydata.last_name | titlecase}}</td>

                        <td>{{ mydata.designation }}</td>
                        <td>{{ mydata.gross_income | number }}</td>
                        <td>{{ mydata.tax_year }}</td>
                        <td>{{ mydata.pension | number}}</td>
                        <td>{{ mydata.nhis | number }}</td>
                        <td>{{ mydata.nhf | number }}</td>
                        <td>{{ mydata.created_at | date }}</td>

                        <td *ngIf="showViewEmployee">
                            <button class="btn btn-sm btn-outline-primary"
                                (click)="viewEmployee(addemployeemodal, mydata)"><i class="nav-icon fas fa-eye"></i>
                                View</button>
                        </td>

                        <td *ngIf="showEditEmployee"><button class="btn btn-sm btn-outline-primary"
                                (click)="editEmployee(addemployeemodal, mydata)"><i class="nav-icon fas fa-edit"></i>
                                Edit</button>
                        </td>

                        <td *ngIf="showDeleteEmployee"><button (click)="deleteEmployee(mydata.id)"
                                class="btn btn-sm btn-danger"><i class="nav-icon far fa-trash-alt"></i> Delete</button>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>


<ng-template #addemployeemodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ addEmployeeTitle }}</h4>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="form-row">
                <div class="col-md-12">
                   
                </div>
            </div>

            <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit(addEmployeeForm.value, mymodal)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="titleId">Title<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <select type="text" name="titleId" formControlName="titleId" id="titleId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.titleId.errors }">
                            <option value="">Select Title</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss.">Miss.</option>
                        </select>
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.titleId.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.titleId.errors.required">Title is required</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="firstName">First Name<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="firstName" class="form-control" placeholder="First Name"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.firstName.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.firstName.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.firstName.errors.required">First Name is required</div>
                            <div *ngIf="addEmployeeForm.controls.firstName.errors.pattern">First Name cannot contain
                                numeric value</div>
                            <div *ngIf="addEmployeeForm.controls.firstName.errors.maxlength">First Name must be at most
                                30 characters</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="surname">Surname<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="surname" class="form-control" placeholder="Surname"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.surname.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.surname.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.surname.errors.required">Surname is required
                            </div>
                            <div *ngIf="addEmployeeForm.controls.surname.errors.pattern">Surname cannot contain numeric
                                value</div>
                            <div *ngIf="addEmployeeForm.controls.surname.errors.maxLength">Surname must at most 30
                                characters</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="emailAddress">Email Address<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="emailAddress" class="form-control"
                            placeholder="Email Address"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.emailAddress.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.emailAddress.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.emailAddress.errors.required">Email Address is
                                required</div>
                            <div *ngIf="addEmployeeForm.controls.emailAddress.errors.minlength">Email Address
                                must not be more than 60 characters long.</div>
                            <div *ngIf="addEmployeeForm.controls.emailAddress.errors.pattern">Email Address must be a
                                valid email</div>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="phoneNumber">Phone Number <sup class=" font-wegiht-bold text-danger">*</sup>
                        </label>
                        <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Phone Number"
                            maxlength="11"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.phoneNumber.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.phoneNumber.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.phoneNumber.errors.required">Phone
                                Number is required
                            </div>
                            <div *ngIf="addEmployeeForm.controls.phoneNumber.errors.minlength">Phone Number must
                                be at least 11 digits</div>
                            <div *ngIf="addEmployeeForm.controls.phoneNumber.errors.maxlength">Phone Number must
                                not exceed 11 digits</div>
                            <div *ngIf="addEmployeeForm.controls.phoneNumber.errors.pattern">Phone Number must start
                                with 0 to
                                be valid</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="employeeTIN">Employee JTB-TIN <span class="note-color">**</span></label>
                        <input type="text" formControlName="employeeTIN" class="form-control" placeholder="Employee JTB-TIN"
                            maxlength="10" (keyup)="changeTinPhoneNinBvnStatus()"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.employeeTIN.errors || submitted &amp;&amp; validateCacTin }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.employeeTIN.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.employeeTIN.errors.minlength">Employee JTB-TIN must be at
                                least 10 digits long.
                            </div>
                            <div *ngIf="addEmployeeForm.controls.employeeTIN.errors.maxlength">Employee JTB-TIN must be at
                                most 10 digits long.</div>
                            <div *ngIf="addEmployeeForm.controls.employeeTIN.errors.pattern">Employee JTB-TIN must be
                                numeric value only.</div>
                        </div>
                        <div *ngIf="submitted &amp;&amp; validateCacTin" class="text-danger">
                            <div>JTB-TIN or NIN or BVN Number is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nin">NIN <span class="note-color">**</span>
                        </label>
                        <input type="text" formControlName="nin" class="form-control" id="nin" placeholder="Enter NIN" maxlength="11"
                            (keyup)="changeTinPhoneNinBvnStatus()"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.nin.errors || submitted &amp;&amp; validateCacTin }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.nin.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.nin.errors.minlength">NIN can not be
                                less than 11 characters</div>
                            <div *ngIf="addEmployeeForm.controls.nin.errors.pattern">NIN must be numeric
                                value only.</div>
                        </div>
                        <div *ngIf="submitted &amp;&amp; validateCacTin" class="text-danger">
                            <div>JTB-TIN or NIN or BVN Number is required</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="bvn">BVN <span class="note-color">**</span>
                        </label>
                        <input type="text" formControlName="bvn" class="form-control" placeholder="BVN" maxlength="11"
                            (keyup)="changeTinPhoneNinBvnStatus()"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.bvn.errors || submitted &amp;&amp; validateCacTin }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.bvn.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.bvn.errors.minlength">BVN must be at least 11
                                characters long.</div>
                            <div *ngIf="addEmployeeForm.controls.bvn.errors.maxlength">BVN must be 11 Digit
                                Long.</div>
                            <div *ngIf="addEmployeeForm.controls.bvn.errors.pattern">BVN must be numeric
                                value only.
                            </div>
                        </div>
                        <div *ngIf="submitted &amp;&amp; validateCacTin" class="text-danger">
                            <div>JTB-TIN or NIN or BVN Number is required</div>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="designation">Designation<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="designation" class="form-control" placeholder="Designation"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.designation.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.designation.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.designation.errors.required">Designation is required
                            </div>
                            <div *ngIf="addEmployeeForm.controls.designation.errors.pattern">Designation cannot contain
                                numbers or special characters</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="pension">Pension</label>
                        <input type="text" formControlName="pension" class="form-control" placeholder="Pension" (keyup)="calculateGrossIncome($event)"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.pension.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.pension.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.pension.errors.pattern">Pension must be Number
                                with only two digits allowed after the decimal</div>
                        </div>
                    </div>                 
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="CRA">Consolidated Relief Allowance 
                        </label>
                        <input type="text" formControlName="CRA" class="form-control"
                            placeholder="Consolidated Relief Allowance" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.CRA.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.CRA.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.CRA.errors.pattern">Consolidated Relief
                                Allowance must be Number with only three digits allowed after the decimal</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="NHIS">National Health Insurance Scheme</label>
                        <input type="text" formControlName="NHIS" class="form-control"
                            placeholder="National Health Insurance Scheme" (keyup)="calculateGrossIncome($event)"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.NHIS.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.NHIS.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.NHIS.errors.pattern">National Health Insurance
                                Scheme must be Number with only two digits allowed after the decimal</div>
                        </div>
                    </div>                  
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="NHF">National Housing Fund</label>
                        <input type="text" formControlName="NHF" class="form-control"
                            placeholder="National Housing Fund" (keyup)="calculateGrossIncome($event)"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.NHF.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.NHF.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.NHF.errors.pattern">National Housing Fund must
                                be Number with only two digits allowed after the decimal</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="lifeAssurance">Life Assurance
                        </label>
                        <input type="text" formControlName="lifeAssurance" class="form-control"
                            placeholder="Life Assurance" (keyup)="calculateGrossIncome($event)"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.lifeAssurance.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.lifeAssurance.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.lifeAssurance.errors.pattern">Life Assurance must
                                be Number with only two digits allowed after the decimal</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="totalIncome">Total Income
                            <sup style="font-weight: 800;" class="ml-1 font-wegiht-bold text-danger">*</sup>
                        </label>
                        <input type="text" formControlName="totalIncome" class="form-control" placeholder="Total Income"
                            (keyup)="calculateGrossIncome($event)"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.totalIncome.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.totalIncome.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.totalIncome.errors.required">Total Income
                                required</div>
                            <div *ngIf="addEmployeeForm.controls.totalIncome.errors.pattern">Total Income must
                                be Number with only two digits allowed after the decimal</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="grossIncome">Gross Income<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="grossIncome" class="form-control" placeholder="Gross Income" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.grossIncome.errors || grossIncomeIncorrect }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.grossIncome.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.grossIncome.errors.required">Gross Income is
                                required</div>
                            <div *ngIf="addEmployeeForm.controls.grossIncome.errors.pattern">Gross must be
                                Number with only two digits allowed after the decimal</div>
                        </div>
                        <div *ngIf="grossIncomeIncorrect" class="text-danger">
                            <div>Gross Income cannot be less than or equal to zero</div>
                        </div>
                    </div>
                   

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nationality">Nationality<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="nationality" class="form-control" placeholder="Nationality"
                            [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.nationality.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.nationality.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.nationality.errors.required">Nationality is
                                required</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="zipCode">Zip Code<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <select type="text" name="zipCode" formControlName="zipCode" id="zipCode" class="form-control"
                            style="min-width:339px"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.zipCode.errors }">
                            <option value="">Select Zip Code</option>
                            <option *ngFor="let zipcode of zipCodes" [value]="zipcode.id">
                                {{ zipcode.city + " - " + zipcode.postalcode}}
                            </option>
                        </select>
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.zipCode.errors" class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.zipCode.errors.required">Zip Code is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="existingTaxId">Existing Taxpayer ID</label>
                        <input type="text" formControlName="existingTaxId" class="form-control"
                            placeholder="Existing Taxpayer ID" maxlength="11"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.existingTaxId.errors }" />
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.existingTaxId.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.existingTaxId.errors.minlength">Existing Taxpayer ID
                                must be at least 11 digits long.</div>
                            <div *ngIf="addEmployeeForm.controls.existingTaxId.errors.maxlength">Existing Taxpayer ID
                                must be at most 11 digits long.</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="startMonthId">Start Month<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <select type="text" name="startMonthId" formControlName="startMonthId" id="startMonthId"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.startMonthId.errors }">
                            <option value="">Select Start Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.startMonthId.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.startMonthId.errors.required">Start Month is
                                required</div>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="homeAddress">Home Address<sup style="font-weight: 800;"
                                class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                        <textarea type="text" formControlName="homeAddress" class="form-control" rows="3"
                            placeholder="Home Address"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.homeAddress.errors }"></textarea>
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.homeAddress.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.homeAddress.errors.required">Home Address is
                                required</div>
                            <div *ngIf="addEmployeeForm.controls.homeAddress.errors.minlength">Home Address must be at
                                least 10
                                characters long.</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="localGovernmentId" class="input-label pull-left">Local Government<sup
                                class=" font-wegiht-bold text-danger">*</sup>
                        </label>
                        <select name="localGovernmentId" formControlName="localGovernmentId"
                            id="localGovernmentId" class="form-control" style="min-width:339px"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; addEmployeeForm.controls.localGovernmentId.errors }">
                            <option value="">Select Local Government</option>
                            <option *ngFor="let stateLocalGovt of stateLocalGovts" [value]="stateLocalGovt.lga_code">
                                {{ stateLocalGovt.name }}
                            </option>
                        </select>
                        <div *ngIf="submitted &amp;&amp; addEmployeeForm.controls.localGovernmentId.errors"
                            class="text-danger">
                            <div *ngIf="addEmployeeForm.controls.localGovernmentId.errors.required">Local Government is
                                required</div>
                        </div>
                    </div>
                </div>
              
                <button *ngIf="showSaveEmployee" type="submit" class="btn btn button-login">
                    <i class="fas fa-plus-square"></i> Save Employee</button>
            </form>

        </div>
    </div>

    <div class="modal-footer-1">
        <div class="note-1 float-left"><strong>** Note:</strong> This field is required as either JBT-TIN Number or NIN Number or BVN Number
            or you can provide all to proceed further.</div>

        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #bulkemployeemodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Upload Bulk Employees</h4>

        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button> -->
    </div>

    <div class="modal-body">
        <div class="container">

            <div class="form-row">
                <div class="col-md-12">
                    <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                          style="height:90px; width: 130px;"> -->
                </div>
            </div>

            <!-- <div class="alert alert-success" role="alert" *ngIf="isResponse==1">
          {{isMessage}}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="isError==1">
          {{isMessage}}
        </div> -->

            <form [formGroup]="myForm" (ngSubmit)="submit()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fileInput">Select File to Upload</label>

                        <div class="custom-file">
                            <input formControlName="myfile" id="myfile" type="file" class="custom-file-input"
                                (change)="onFileChange($event)"
                                [ngClass]="{ 'is-invalid': submitted && myForm.controls.myfile.errors }"
                                accept=".xls,.xlsx">
                            <label class="custom-file-label" for="customFile">{{ filePath == null ? 'Choose file' :
                                filePath
                                }}</label>
                        </div>

                        <div *ngIf="submitted &amp;&amp; f.myfile.touched && f.myfile.invalid" class="text-danger">
                            <div *ngIf="f.myfile.errors.required">File is required.</div>
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn button-login" [disabled]="file==null">Upload File</button>
            </form>

            <div class="login-remeber">
                <a href="{{sample_file}}" target="_blank">
                    Download employee template here</a>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>