<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="margin-left:0px;padding: 0px 0px 0px 18px;">
  <a [routerLink]="['/home']"><img src="assets/dist/img/logo-header.png" height="50px"></a>
  <div class="ml-auto color-white">

    <a [routerLink]="['/home']" >
      <i class="fas fa-home"></i> Home
    </a>

    <a [routerLink]="['/login']" >
      <i class="fas fa-sign-in-alt"></i> Sign In
    </a>

    <a [routerLink]="['/faq']">
      <i class="far fa-comments"></i> FAQ's
    </a>
  </div>
</nav>


<div class="row m-0">
  <div class="col-sm-4 left-side p-0 side-center" style="margin-right: 120px;">
     <div class="mx-auto">
        <img src="assets/dist/img/login-logo.png" class="mx-auto" alt="" height="320px">
     </div>
  </div>
  <!-- Main content -->
  <section class="content mt-4" data-select2-id="32" >
    <div class="container-fluid mt-4" data-select2-id="31">
      <!-- SELECT2 EXAMPLE -->
      <div class=" card-secondary">
        <!-- /.card-header -->
        <div class=" d-flex justify-content-center">
          <div class="card p-5 mt-4" style="">
              <div class="d-flex justify-content-center" style="margin-top: -120px;">
      
                <img src="assets/dist/img/login-user-img.png" alt="myimage">
              </div>
            <form [formGroup]="contactUsForm" class="mt-5" (ngSubmit)="onSubmit(contactUsForm.value)">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Company Name<sup
                    class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                  <input type="text" formControlName="companyName" class="form-control" placeholder="Enter Company Name"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactUsForm.controls.companyName.errors }" />
                  <div *ngIf="submitted &amp;&amp; contactUsForm.controls.companyName.errors" class="text-danger">
                    <div *ngIf="contactUsForm.controls.companyName.errors.required">Company Name is required</div>
                    <div *ngIf="contactUsForm.controls.companyName.errors.maxLength">Company Name cannot be longer than 45 characters</div>
                  </div>
  
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Email Address<sup
                    class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                  <input type="text" formControlName="email" class="form-control" placeholder="Enter Email Address"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactUsForm.controls.email.errors }" />
                  <div *ngIf="submitted &amp;&amp; contactUsForm.controls.email.errors" class="text-danger">
                    <div *ngIf="contactUsForm.controls.email.errors.required">Email is required</div>
                    <div *ngIf="contactUsForm.controls.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
              <div class="form-row">

                <div class="col-md-12 ">
                  <label for="message" class="input-label pull-left ">Message<sup
                      class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                  <div class="inputWithIcon">
                    <!-- <textarea type="text" placeholder="" rows="4" cols="50"></textarea> -->
                    <textarea formControlName="message" class="form-control" id="message" rows="6" placeholder="Enter Your Message"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactUsForm.controls.message.errors }"></textarea>
                      <div *ngIf="submitted &amp;&amp; contactUsForm.controls.message.errors" class="text-danger">
                        <div *ngIf="contactUsForm.controls.message.errors.required">Message is required</div>
                      </div>
                    </div>
                </div>
                
              </div>
              <div class="ml-lg-5 ml-md-5 mt-3 ml-sm-4">

                <div class="input-group mt-2">
                <re-captcha (resolved)="resolved($event)" siteKey="6LcRjvUUAAAAAKKYMVWLspTMguzYHNgd8j3fahY-"></re-captcha>
              </div>
              <div *ngIf="submitted" class="text-danger" id="captchaError">
              </div>
            </div>
  
              <div class="text-center mt-5">
                <button type="submit" class="btn btn-block btn button-login">Send Message</button>

              </div>
            </form>

          </div>


        </div>
        <!-- /.card-body -->
      
      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
