<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">

    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31">
        <flash-messages></flash-messages>
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-secondary">
          <div class="card-header custome">
            <h3 class="card-title">List of Corporate Tax Payers</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="page-header">
              <h3> </h3>
          </div>

          <div>
            <div class="table-responsive">
              <table class="table table-bordered table-condensed table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl" *ngIf="corporatesData; else content"
                  datatable [dtOptions]="dtOptions" width="100%">
                  <thead>
                      <tr>
                          <th>S/N</th>
                          <th>Company Name</th>
                          <th>Email</th>
                          <!-- <th>Phone</th> -->
                          <!-- <th>Contact Address</th> -->
                          <th *ngIf="showTaxOffice">Tax Office</th>
                          <th>Tax Payer ID</th>
                          <!-- <th>Created Date</th> -->
                          <th>View & Action</th>
                          <!-- <th>Edit</th> -->
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let mydata of corporatesData; index as i">
                          <td>{{ i + 1 }}</td>
                          <td>{{ mydata.company_name | titlecase}}</td>
                          <td>{{ mydata.email }}</td>
                          <!-- <td>{{ mydata.phone }}</td> -->
                          <!-- <td>{{ mydata.contact_address }}</td> -->
                          <td *ngIf="showTaxOffice">{{ mydata.tax_office.name | titlecase }}</td>
                          <td>{{ mydata.taxpayer_id }}</td>
                          <!-- <td>{{ mydata.created_at | date }}</td> -->

                          <td>
                              <button class="btn btn-sm btn-outline-primary"
                                  (click)="viewCorporate(mymodal, mydata)"><i class="nav-icon fas fa-eye"></i>
                                  Action
                              </button>
                          </td>
                          <!--
                          <td *ngIf="showEditCorporate"><button class="btn btn-sm btn-outline-primary"
                                  (click)="editCorporate(mymodal, mydata)"><i
                                      class="nav-icon fas fa-edit"></i> Edit</button></td> -->
                      </tr>
                  </tbody>
              </table>
            </div>
              <ng-template #content>
                  <p style="color: red;"> </p>
              </ng-template>
          </div>



          </div>
          <!-- /.card-body -->
          <div class="card-footer">

          </div>
        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>


  <ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Corporate Details</h4>

        <button type="submit" class="btn btn button-login float-right" style="margin: 10px 10px;" (click)="uploadBulkEmployees(bulkemployeemodal)">
            <i class="fas fa-plus-square"></i> Upload Bulk</button>

        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button> -->
    </div>

    <div class="modal-body">
        <div class="container">

            <div class="form-row">
                <div class="col-md-12">
                    <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                          style="height:90px; width: 130px;"> -->
                </div>
            </div>

            <form [formGroup]="corporateForm">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="companyName" class="input-label pull-left">Company Name<sup
                                class=" font-wegiht-bold text-danger">*</sup>
                        </label>
                        <input type="text" formControlName="companyName" class="form-control" id="companyName" placeholder="Company Name"
                            [attr.disabled]="true" [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls.companyName.errors }" />
                        <div *ngIf="submitted &amp;&amp; corporateForm.controls.companyName.errors" class="text-danger">
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="taxPayerID" class="input-label pull-left">Tax Payer ID
                            <sup class=" font-wegiht-bold text-danger">*</sup></label>
                        <input type="text" formControlName="taxPayerID" class="form-control" id="taxPayerID"
                            [attr.disabled]="true" placeholder="Enter Tax Payer ID"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls.taxPayerID.errors }" />
                        <div *ngIf="submitted &amp;&amp; corporateForm.controls.taxPayerID.errors" class="text-danger">
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="companyTIN" class="input-label pull-left">Company TIN<sup
                                class="  font-wegiht-bold text-danger">*</sup>
                        </label>
                        <input type="text" formControlName="companyTIN" class="form-control" id="companyTIN" placeholder="Company TIN"
                            [attr.disabled]="true" [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls.companyTIN.errors }" />
                        <div *ngIf="submitted &amp;&amp; corporateForm.controls.companyTIN.errors" class="text-danger">
                        </div>
                    </div>
                </div>

            </form>

            <table class="table table-bordered table-condensed" *ngIf="employeesData;" datatable
              [dtOptions]="dtOptions" width="100%">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Tax Payer ID</th>
                    <th>Full Name</th>
                    <th>Designation</th>
                    <th>Gross Income</th>
                    <th>Tax Year</th>
                    <!-- <th>Phone</th> -->
                    <th>Pension</th>
                    <th>NHIS</th>
                    <th>NHF</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mydata of employeesData; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ mydata.taxpayer_id }}</td>
                    <td>{{ mydata.first_name | titlecase }} {{ mydata.last_name | titlecase }}</td>

                    <td>{{ mydata.designation }}</td>
                    <td>{{ mydata.gross_income | number }}</td>
                    <td>{{ mydata.tax_year }}</td>
                    <!-- <td>{{ mydata.phone }}</td> -->
                    <td>{{ mydata.pension | number }}</td>
                    <td>{{ mydata.nhis | number }}</td>
                    <td>{{ mydata.nhf | number }}</td>
                    <td>{{ mydata.created_at | date }}</td>
                </tr>
            </tbody>
        </table>


        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>


<ng-template #bulkemployeemodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Bulk Employees</h4>

    <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
  </div>

  <div class="modal-body">
    <div class="container">

      <div class="form-row">
        <div class="col-md-12">
          <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
        </div>
      </div>

      <div class="alert alert-success" role="alert" *ngIf="isResponse==1">
        {{isMessage}}
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="isError==1">
        {{isMessage}}
      </div>

      <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fileInput">Select File to Upload</label>

            <div class="custom-file">
              <input formControlName="myfile" id="myfile" type="file" class="custom-file-input"
                (change)="onFileChange($event)"
                [ngClass]="{ 'is-invalid': submitted && myForm.controls.myfile.errors }" accept=".xls,.xlsx">
              <label class="custom-file-label" for="customFile">{{ filePath == null ? 'Choose file (xlsx or xls)' : filePath }}</label>
            </div>

            <div *ngIf="submitted &amp;&amp; f.myfile.touched && f.myfile.invalid" class="text-danger">
              <div *ngIf="f.myfile.errors.required">File is required.</div>
            </div>

          </div>

        </div>

        <button type="submit" class="btn btn button-login" [disabled]="file==null">Upload File</button>
      </form>

      <div class="login-remeber">
        <a href="{{sample_file}}" target="_blank">
          Download employee template here</a>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
